body {
    display: flex;
    justify-content: center;
}

.button {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.container {
    width: 480px;
    height: 480px;
    padding: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: red;
    border: 1px solid black;
}
