

.button {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    border: 2px solid darkblue;
    border-radius: 4px;
    color: black;
    background-color: white;;
}

.grid {
    display: flex;
    justify-content: center;
}

.container {
    width: 480px;
    height: 480px;
    padding: 50px;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: red;
    border: 1px solid black;
    max-height: 100%;
}
